* {
  box-sizing: border-box;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  transition: .3s;
}

.photo {
  border: 5px solid;
  border-radius: 50%;
  border-color: rgb(24, 4, 133);
}

.section {
  border: 1px ridge rgb(72, 105, 18) ;
  padding: 30px;
}
